.th {
    font-family: "Noto Sans Thai", sans-serif;
}

.mynav {
    font-family: "Noto Sans Thai", sans-serif;

    display: flex;
    justify-content: center;

    background-color: rgb(154, 107, 83);
}

.mybutton {
    background-color: rgb(154, 107, 83);
    text-decoration: none;
    color: white;
}

.mybutton:hover {
    background-color: rgb(116, 84, 68);
    transition: 0.5s;
}

.mylink {
    text-decoration: none;
    color: rgb(154, 107, 83);
}

.mylink:hover {
    text-decoration: underline;
    color: rgb(75, 75, 75);
}

.bg-nude {
    background-color: rgb(234, 234, 234);
}